body {
    background-color: #dbdbdbf1;
}
.header {
    display: flex;
    justify-content: space-between;
}
.executive-logo {

    width: 146px;
    height: 52px;
    margin-right: 150px;
}
.header {
    margin-top: 40px;
    margin-right: 90px;
    margin-left: 140px;
}

.nav-ul {
    display: flex;
}

.nav-ul li {
    list-style: none;
    font-size: 17px;
    padding-right: 50px;
    color:#373737;

}
.nav a {
    text-decoration: none;
    color: #000;
}
.nav-apply {
  border: 2px solid #717CFF;
  border-radius: 11px;
  margin-left:0px;
  padding: 5px 25px;

}
.hero {
  display: flex;
  justify-content: space-between;
}

.hero-h1-and-p {
  margin-left: 148px;
  margin-top: 130px;
  margin-right: 65px;
  width: 632px;

}

.hero-h1 {
  font-size: 56px;
}
.hero-p {
  font-size: 22px;
  padding-bottom: 50px;
  color: #7D7D7D;
}
.hero-h1-build {
  color: #717CFF;
}

.hero-student-img{
  margin-right: 128px;
  width: 470px;
  height: 560px;
}

.hero-apply {
  text-decoration: none;
  border: #717CFF 1px solid;
  border-radius: 11px;
  background-color: #717CFF;
  color: #fff;
  font-size: 22px;
  padding-left:34px;
  padding-top: 12px;
  padding-bottom: 12px;


}

.hero-apply img {
  padding-left: 34px ;
  padding-right: 10px;
  width: 18px;
  height: 16px;
}

.hero-social-media {
  display: flex;
  padding-top: 102px;
  align-items: center;
  padding-bottom: 59px;
  padding-left: 5px;
}
.facebook {
  width: 12px;
  height: 21px;

}
.twitter {
  width: 21px;
  height: 17px;
  margin-left: 25px;
}

.instagram {
  width: 22px;
  height: 23px;
  margin-left: 25px;

}

.universities{
  background-color: #FAFAFA;
}
.universities-h3 {
  padding-top: 55px;
  font-size: 25px;
  color:#373737;
  text-align: center;
}

.universities-ul {
  padding-top: 90px;
  padding-left: 128px;
  padding-right: 116px;
  padding-bottom: 112px;
  display: flex;
  justify-content: space-between;
  list-style: none;


}

.universities-ul-button {
list-style: none;
display: flex;
justify-content: center;
padding-bottom: 60px;

}

.services {
  margin-top: 0px;
  background-color: #F2F2F2;
  padding-bottom: 100px;
}
.services-h2 {
font-size: 37px;
text-align: center;
padding-top: 122px;

}

.services-p{
  font-size: 22px;
  color: #686767;
  text-align: center;

}

.services-list ul{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.services-list-ul li{
  list-style: none;
padding: 29px 17px 34px 31px;
border: 1px #fff solid;
border-radius: 15px;
width: 330px;
margin-top: 56px;
margin-right: 45px;
background-color: #fff;
}




.services-list-h3 {
  font-size: 24px;
}


.services-list-ul p {
  font-size: 16px;
}

.services-list-ul a{
  text-decoration: none;
  color: #717CFF;


}
.services-list-ul-img {
  width: 75px;
  height: 75px;
}

.navigation{
  padding-left: 21px;
width: 18px;
height: 16px;
}


.news h3{
  padding-top:100px ;
  font-size: 38px;
  text-align: center;
}



.news-p {

  text-align: center;
  color: #797676f3;

}
